@font-face{	font-family: segoelight;src:url('../fonts/segoelight.ttf'),url('../fonts/segoelight.eot'),url('../fonts/segoelight.woff');}
@font-face{	font-family: segoe;	src:url('../fonts/segoeui.ttf'),url('../fonts/segoeui.eot'); }
h1,h2,h3,h4,h5,h6,p{margin:0px;padding:0px;font-weight:normal;}
input{outline:none;} ::selection{background: rgba(0,0,0,0.3)}
body {
    font-family: segoe;
	background: #a8030a;
}
.fullScreenItem{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
}
#loginPage{
	opacity: 1;
	z-index: 0;
	-webkit-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-webkit-transform: perspective(1000) rotateY(0deg);
	-moz-transform: perspective(1000) rotateY(0deg);
	-ms-transform: perspective(1000) rotateY(0deg);
	-o-transform: perspective(1000) rotateY(0deg);
}
.flipped{
	opacity: 0 !important;
	-webkit-transform: perspective(650) rotateY(130deg) !important;
	-moz-transform: perspective(650) rotateY(130deg) !important;
	-ms-transform: perspective(650) rotateY(130deg) !important;
	-o-transform: perspective(650) rotateY(130deg) !important;
}
#loginCover{
	background-color: #333;
	background-size: cover;
	box-shadow: inset 0px 0px 100px rgba(0,0,0,0.7), 0px 0px 100px rgba(0,0,0,0.3);
	z-index: 2;
	cursor: default;
}
#loginFormCenter{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 10%;
}
#loginFormContainer{
	width: 550px;
	height: 200px;
	margin: auto;
}
#loginFormContainer img{
	float: left;
	outline: 3px solid rgba(147,6,11,0.85);
}
#loginFormContainer #rightContainer{
	width: 330px;
	height: 200px;
	float: right;
	text-align: left;
}
#loginFormContainer #rightContainer h1{
	font-family: segoe;
	color: white;
	font-size: 38px;
	outline: none;
	font-weight:normal;
	text-shadow:1px 1px 0px #aa090f;
	padding-top:0px;
	margin-top:-10px;
}
#loginFormContainer #rightContainer h4{
	color: rgba(255,255,255,0.6);
	font-size: 18px;
	font-family: segoelight;
}
form#loginForm{
	width: 100%;
	height: 34px;
	margin-top: 10px;
}
#pass, #email{
	width: 264px;
	height: 100%;
	padding: 5px;
	padding-left: 9px;
	font-size: 16px;
	font-family: segoelight;
	float: left;
	font-family: segoelight;
	color:#545454;
	text-shadow:1px 0px 1px #ffffff;
	background:#f7f7f7;
	-moz-box-shadow:    inset 0 0 5px #cccccc;
   -webkit-box-shadow: inset 0 0 5px #cccccc;
   box-shadow:         inset 0 0 5px #cccccc;
   border:0;
   outline:1px solid #c1080f;
}
#email{
	margin-bottom:15px;
	
}
#submit{
	width: 30px;
	height: 30px;
	background-image:url(../images/submit.png);
	font-size: 20px;
	float: left;
	border: none;
	margin: 2px;
	margin-left:-32px;
	text-indent:-99999px;
	background-color: rgb(75, 75, 75);
}
.warning .t {
color:#ffeff0;
text-shadow:1px 1px 0px #aa090f;
font-family: segoelight;
font-size:14px;
background:rgba(255,45,45,0.35);
padding:10px;
width:auto;
border:1px solid #ed1c24;
}
.warning .b {
color:#ffffff;
font-family: segoelight;
font-size:14px;
margin-top:-15px;
width:auto;
}
.warning .b a {
color:#ffffff;
font-family: segoelight;
font-size:14px;
width:auto;
}
.metrouicss a.auth i {
color:#ffffff;
font-size:16px;
margin-top:10px;
}
.metrouicss a.auth span {
color:#ffffff;
font-size:16px;
font-family: segoelight;
top:-1px;
position:relative;
}
#submit:hover{
	background-color: rgb(213, 20, 27);
}
#submit:active{
	background-color: rgb(50, 50, 50);
}
p{
	font-family: segoelight;
	color: white;
	font-size: 40px;
	position: absolute;
	bottom: 90px;
	left: 60px;
	text-shadow: 0px 0px 25px rgba(0,0,0,0.3);
}
#Time{
	font-family: segoe;
	font-size: 130px;
	bottom: 130px;
	left: 50px;
}
.bottomBar{
	position: absolute;
	bottom: 25px;
}
#leftBar{	left:25px;	}
#rightBar{	right:30px;	}
#leftBar img{
	margin-left: 10px;
	float: left;
}
#rightBar img{
	margin-right: 10px;
	float: right;
}
.bottomBar img{
	width: 50px;
	height: 50px;
	/*-webkit-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;*/
	cursor: pointer;
	z-index: 1;
	outline: none;
	border: none;
}
.bottomBar img:hover{
	background: rgba(255,255,255,0.15);
}
.bottomBar img:active{
	background: rgba(255,255,255,0.3);
	/*-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);*/
}

#forgot{
	clear:both;
	font-family:segoelight;
	font-size: 14px;
	color: #ffffff;
	text-align: left;
	top:10px;
	position:relative;
}
.clear{
clear:both;
}
a.forgot {
	clear:both;
	font-family:segoelight;
	font-size: 16px;
	color: #ffffff;
	text-align: left;
	top:10px;
	position:relative;
	text-decoration:none;
}
#forgot:hover{
	color: rgba(255,255,255,0.90);
}
#forgot:active{
	color: rgba(255,255,255,0.40);
}
/*-------OPTIONAL SETTINGS------*/
#loginCover{background: url("../images/cover1.jpg");}/*Cover Image*/
