
/* twitter ticker */

.ticker {
	font-family: 'Raleway';
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	width: auto;
	height: 60px;
	margin: 0 auto;
	margin-top: 14px;
}

.tweet_list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	background: none;
}

.tweet_list li {
	font-family: 'Raleway';
	font-size: 16px;
	font-weight: 400;
	overflow: hidden;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	padding: 0 5px;
	word-spacing: 2px;
}

.tweet_list li a {
	color: #2ac5ee;
	font-family: 'Raleway';
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
}

.tweet_list li a:hover {
	text-decoration: none;
}

.tweet_list .tweet_time a {
	color: #2ac5ee;
	font-weight: 400;
	text-decoration: none;
}

/*.tweet_time a:before {
	font-family: 'FontAwesome';
	content: "\f099";
	color: #fff;
	padding: 0 5px;
}*/

.tweet_time a:after {
	content: '|';
	color: #fff;
}

.tweet_list .tweet_even {
	background: none;
}

.tweet_list .tweet_avatar {
	padding-right: 0;
	float: left;
}

.tweet_list .tweet_avatar img {
	vertical-align: middle;
}
