/* Contact Form */
.contact-form {
	text-align: center;
	vertical-align: middle;
}

.contact-form h3 {
	font-size: 18px;
	font-weight: 800;
	color: #000;
	text-align: left;
}

#contact {
	width: 80%;
	margin: 0 auto;
	float: left;
}
 .contact-form input.form-control {
    background: none;
	border: none;
	border: 1px solid #000;
	border-radius: 0;
	width: 100%;
	font-family: 'Raleway';
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1px;
	padding: 20px;
	color: #000;
	margin-bottom: 20px;
	box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}


.contact-form input[type="submit"].form-control {
	padding: 7px 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	background: none repeat scroll 0% 0% rgba(47, 50, 51, 1);
	border: 1px solid rgba(1, 5, 6, 1);
	display: inline-block;
	width: 15%;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.contact-form input[type="submit"].form-control:hover {
	border: 1px solid #fff;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.contact-form textarea.form-control {
    background: none;
	border: 1px solid #000;
	border-radius: 0;
	width: 100%;
	font-family: 'Raleway';
	font-size: 16px;
	font-weight: 400;
	padding: 10px 20px;
	letter-spacing: 1px;
	color: #000;
	height: 167px;
	margin-bottom: 20px;
	box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}
.contact-form .form-control:focus {
    border-color: #8794a2;
    outline: 0;
    -webkit-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}

.form-control:-moz-placeholder {
    color: #000;
}
.form-control::-moz-placeholder {
    color: #000;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #000;
}
.form-control::-webkit-input-placeholder {
    color: #000;
}
.contact-form .has-error input.form-control{
 
    border: 1px solid #a94442;
    box-shadow: none;
}
.contact-form .has-success input.form-control{
    border: 1px solid #2f9b67;
    box-shadow: none;
}

.contact-form .has-error textarea.form-control {
    border: 1px solid #a94442;
    box-shadow: none;
}

.contact-form .has-success textarea.form-control {
    border: 1px solid #2f9b67;
    box-shadow: none;
}

.contact-form .has-error input[type="submit"] {
	border: none;
	color: #000;
    box-shadow: none;
}

.contact-form .has-success input[type="submit"] {
	border: none;
	color: #000;
    box-shadow: none;
}

.send_result p {
    font-family:'Raleway';
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0px;
    color: #000;
}

.send_result p:after {
	content: "\f00c";
	color: #000;
	padding-left: 10px;
	font-family: 'FontAwesome'
}